page-filter-modal {

	.bg-image{
	background-image: url('../assets/background/androidBackgroundmulticolors.jpg');
	/* background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */
	}


}

