page-bridalslideshow {

	.bg-image{
	background-image: url('../assets/background/androidBackgroundLightBlue.jpg');
	/* background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */
	}

}
